@*用户设置页面，用户头像的显示，为了满足头像自定义的更改需要，将这部分写在分部视图中*@
<div class="contentdivl">头像：</div>
<div class="contentdivr" id="contentdivr"><img src="~/Content/theme/blue/images/icon/userinfo.png" /></div>
<div class="contentdivr"><a class="mini-button" onclick="changePicture">更改</a></div>

<script type="text/javascript">
    mini.parse();
    $("#contentdivr").html("<img src='/Files/GetUserAvatar?userName=" + '@User.Identity.Name' + "' />");
    var r;//头像的Id

    function changePicture() {
        mini.open({
            url: "@Url.Action("Avatar","Files")",
            title: "头像设置",
            width: 450,
            height: 420,
            ondestroy: function (data) {
                var iframe = this.getIFrameEl();
                var w = iframe.contentWindow;
                r = w.AvatarId;
                if (w.Mark == "tab1") {
                    $("#contentdivr").html("<img id='avatar' src='/Files/GetUserAvatar?userName=" + '@User.Identity.Name' +'&r='+Math.random()+"' />");
                    $("#picture", window.parent.document).html("<img id='main_avatar' src='/Files/GetUserAvatar?userName=" + '@User.Identity.Name' +'&r='+Math.random()+ " ' style='width:24px;height:24px;' />");
                }
                if (w.Mark == "tab2") {
                    $("#contentdivr").html("<img id='avatar' src='/Files/Download?id=" + r + "' />");
                    $("#picture", window.parent.document).html("<img id='main_avatar' src='/Files/Download?id=" + r + " ' style='width:24px;height:24px;'/>");
                }
            }
        });
    }
</script>


