@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewBag.Title = "ForgotPassword";
    ViewBag.ShowSearchBox = false;
}
<style>
    .top_crumb {
        height: 52px;
        line-height: 52px;
        font-size: 20px;
        background-color: #fff;
        box-shadow: 0 0 5px #c8c8c8;
        text-align: center;
    }

        .top_crumb a {
            font-size: 20px;
        }

    body {
        background: #eee;
    }

    .forgotpassword > .container-fluid {
        padding: 15px;
        background-color: white;
        width: 600px;
        margin-top: 10px;
    }

    .forgotpassword .mini-button,
    .forgotpassword .mini-button,
    .forgotpassword a:hover.mini-button {
        width: 100%;
    }

    .mini-button,
    a.mini-button {
        border-radius: 4px;
        background: #2b7cd8;
        padding: 6px 0;
    }

    .forgotpassword a:hover.mini-button,
    .forgotpassword .mini-button-pressed, .forgotpassword a:hover.mini-button-pressed,
    .forgotpassword .mini-button-checked, .logforgotpasswordin a:hover.mini-button-checked,
    .forgotpassword a.mini-button-popup, .forgotpassword a:hover.mini-button-popup {
        padding: 6px 0;
        background: #1360b8;
    }

    .mini-button-text {
        font-size: 16px;
        color: #fff;
    }
    .form-group{
        margin-bottom: 20px
    }
</style>


<div class="forgotpassword">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="content-title  form-group">@ResHelper.GetStr("Please Enter Your Email")</div>
                <input class="form-control form-group " type="text" id="Email" name="Email" />
                <button class="mini-button frame-submit frame-default form-group">@ResHelper.GetStr("Submit")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    mini.parse();
</script>