@{
    Layout = "~/Views/shared/_RECPLayout.cshtml";
}

<div class="panel-heading">朱琳相册</div>
<div class="panel-body">
    <div class="row" style="margin-top:6px;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="..." alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="..." alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                ...
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="col-xs-5 col-sm-5  col-md-5  col-lg-5" style="padding: 0;height: 100%;">
            1980年  《叛国者》
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 " style="padding:0 0 0 10px;height: 100%;">
            饰演：沈虹
        </div>
    </div>
    <table cellspacing="0" cellpadding="0" width="480" align="center" border="0">
        <tbody>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=1" target="_blank"><img src="../pic/album/1/lycq.jpg" alt="《梨园传奇》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=1" target="_blank">《梨园传奇》</a><br>
                        <a href="albumindex.asp?id=1" target="_blank">共10张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=2" target="_blank"><img src="../pic/album/2/ltc.jpg" alt="《骆驼草》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=2" target="_blank">《骆驼草》</a><br>
                        <a href="albumindex.asp?id=2" target="_blank">共39张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=3" target="_blank"><img src="../pic/album/3/20nhzxh.jpg" alt="《二十年后再相会》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=3" target="_blank">《二十年后再相会》</a><br>
                        <a href="albumindex.asp?id=3" target="_blank">共11张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=4" target="_blank"><img src="../pic/album/4/xeblk.jpg" alt="《肖尔布拉克》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=4" target="_blank">《肖尔布拉克》</a><br>
                        <a href="albumindex.asp?id=4" target="_blank">共76张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=6" target="_blank"><img src="../pic/album/6/xyj.gif" alt="《西游记》之<br>《趣经女儿国》" width="100" height="64" border="0"></a></p><p>
                    </p><p align="center" class="style3v"><a href="albumindex.asp?id=6" target="_blank">《西游记》之<br>《趣经女儿国》共54张</a></p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=5" target="_blank"><img src="../pic/album/5/kxzzy.gif" alt="《凯旋在子夜》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=5" target="_blank">《凯旋在子夜》</a><br>
                        <a href="albumindex.asp?id=5" target="_blank">共124张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=7" target="_blank"><img src="../pic/album/7/tgz.jpg" alt="《逃港者》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=7" target="_blank">《逃港者》</a><br>
                        <a href="albumindex.asp?id=7" target="_blank">共57张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=8" target="_blank"><img src="../pic/album/8/bzlx.jpg" alt="《白栅栏》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=8" target="_blank">《白栅栏》</a><br>
                        <a href="albumindex.asp?id=8" target="_blank">共16张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=9" target="_blank"><img src="../pic/album/9/tbnr.jpg" alt="《台北女人》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=9" target="_blank">《台北女人》</a><br>
                        <a href="albumindex.asp?id=9" target="_blank">共94张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=10" target="_blank"><img src="../pic/album/10/xjrs.jpg" alt="《戏剧人生》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=10" target="_blank">《戏剧人生》</a><br>
                        <a href="albumindex.asp?id=10" target="_blank">共97张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=11" target="_blank"><img src="../pic/album/11/88888.jpg" alt="《火浴》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=11" target="_blank">《火浴》</a><br>
                        <a href="albumindex.asp?id=11" target="_blank">共77张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=12" target="_blank"><img src="../pic/album/12/88888.jpg" alt="《遭遇昨天》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=12" target="_blank">《遭遇昨天》</a><br>
                        <a href="albumindex.asp?id=12" target="_blank">共183张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=13" target="_blank"><img src="../pic/album/13/amm.jpg" alt="《啊，妈妈》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=13" target="_blank">《啊，妈妈》</a><br>
                        <a href="albumindex.asp?id=13" target="_blank">共75张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=14" target="_blank"><img src="../pic/album/14/dqq.gif" alt="《大秦之腔》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=14" target="_blank">《大秦之腔》</a><br>
                        <a href="albumindex.asp?id=14" target="_blank">共230张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=15" target="_blank"><img src="../pic/album/15/dxbh.gif" alt="《你是我的生命》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=15" target="_blank">《你是我的生命》</a><br>
                        <a href="albumindex.asp?id=15" target="_blank">共32张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=16" target="_blank"><img src="../pic/album/16/hpws.gif" alt="《和平卫士》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=16" target="_blank">《和平卫士》</a><br>
                        <a href="albumindex.asp?id=16" target="_blank">共25张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=17" target="_blank"><img src="../pic/album/17/grzl.gif" alt="《光荣之旅》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=17" target="_blank">《光荣之旅》</a><br>
                        <a href="albumindex.asp?id=17" target="_blank">共21张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=18" target="_blank"><img src="../pic/album/18/ybfq.gif" alt="《永不放弃》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=18" target="_blank">《永不放弃》</a><br>
                        <a href="albumindex.asp?id=18" target="_blank">共21张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=19" target="_blank"><img src="../pic/album/19/hyh.gif" alt="《红与黑2000》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=19" target="_blank">《红与黑2000》</a><br>
                        <a href="albumindex.asp?id=19" target="_blank">共88张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=177" target="_blank"><img src="../pic/album/177/xx111.jpg" alt="《兄弟》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=177" target="_blank">《兄弟》</a><br>
                        <a href="albumindex.asp?id=177" target="_blank">共3张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=21" target="_blank"><img src="../pic/album/21/tzhk.jpg" alt="《桐籽花开》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=21" target="_blank">《桐籽花开》</a><br>
                        <a href="albumindex.asp?id=21" target="_blank">共6张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=20" target="_blank"><img src="../pic/album/20/ggyy.gif" alt="《我心永远》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=20" target="_blank">《我心永远》</a><br>
                        <a href="albumindex.asp?id=20" target="_blank">共39张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=22" target="_blank"><img src="../pic/album/22/66666.jpg" alt="《傅抱石》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=22" target="_blank">《傅抱石》</a><br>
                        <a href="albumindex.asp?id=22" target="_blank">共5张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=23" target="_blank"><img src="../pic/album/23/lp.gif" alt="《龙票》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=23" target="_blank">《龙票》</a><br>
                        <a href="albumindex.asp?id=23" target="_blank">共23张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=24" target="_blank"><img src="../pic/album/24/ysh.gif" alt="《月上海》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=24" target="_blank">《月上海》</a><br>
                        <a href="albumindex.asp?id=24" target="_blank">共9张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=175" target="_blank"><img src="../pic/album/175/3.jpg" alt="《底牌》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=175" target="_blank">《底牌》</a><br>
                        <a href="albumindex.asp?id=175" target="_blank">共1张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=26" target="_blank"><img src="../pic/album/26/mbz.gif" alt="《民族英雄马本斋》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=26" target="_blank">《民族英雄马本斋》</a><br>
                        <a href="albumindex.asp?id=26" target="_blank">共6张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=25" target="_blank"><img src="../pic/album/25/fyxg.gif" alt="《风雨西关》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=25" target="_blank">《风雨西关》</a><br>
                        <a href="albumindex.asp?id=25" target="_blank">共15张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=27" target="_blank"><img src="../pic/album/27/ljhy.gif" alt="《临界婚姻》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=27" target="_blank">《临界婚姻》</a><br>
                        <a href="albumindex.asp?id=27" target="_blank">共4张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=28" target="_blank"><img src="../pic/album/28/hlrj.gif" alt="《那年那月》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=28" target="_blank">《那年那月》</a><br>
                        <a href="albumindex.asp?id=28" target="_blank">共5张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=29" target="_blank"><img src="../pic/album/29/skndsk.gif" alt="《撕开你的伤口》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=29" target="_blank">《撕开你的伤口》</a><br>
                        <a href="albumindex.asp?id=29" target="_blank">共5张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=30" target="_blank"><img src="../pic/album/30/zgjt421.gif" alt="《中国家庭421》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=30" target="_blank">《中国家庭421》</a><br>
                        <a href="albumindex.asp?id=30" target="_blank">共3张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=31" target="_blank"><img src="../pic/album/31/wzttdn.gif" alt="《我在天堂等你》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=31" target="_blank">《我在天堂等你》</a><br>
                        <a href="albumindex.asp?id=31" target="_blank">共3张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=32" target="_blank"><img src="../pic/album/32/wxtw.gif" alt="《我要跳舞》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=32" target="_blank">《我要跳舞》</a><br>
                        <a href="albumindex.asp?id=32" target="_blank">共2张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=33" target="_blank"><img src="../pic/album/33/1264126877992.jpg" alt="《家有爹娘-1》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=33" target="_blank">《家有爹娘-1》</a><br>
                        <a href="albumindex.asp?id=33" target="_blank">共14张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=93" target="_blank"><img src="../pic/album/93/1270147887009.jpg" alt="《雪在烧》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=93" target="_blank">《雪在烧》</a><br>
                        <a href="albumindex.asp?id=93" target="_blank">共7张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=34" target="_blank"><img src="../pic/album/34/88888.jpg" alt="《静静的白桦林》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=34" target="_blank">《静静的白桦林》</a><br>
                        <a href="albumindex.asp?id=34" target="_blank">共14张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=87" target="_blank"><img src="../pic/album/87/kkkkk.jpg" alt="《贺龙传奇》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=87" target="_blank">《贺龙传奇》</a><br>
                        <a href="albumindex.asp?id=87" target="_blank">共2张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=35" target="_blank"><img src="../pic/album/35/jydn-2-work.jpg" alt="《家有爹娘-2》" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=35" target="_blank">《家有爹娘-2》</a><br><a href="albumindex.asp?id=35" target="_blank">共25张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=36" target="_blank"><img src="../pic/album/36/cl.jpg" alt="《初恋》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=36" target="_blank">《初恋》</a><br>
                        <a href="albumindex.asp?id=36" target="_blank">共9张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=37" target="_blank"><img src="../pic/album/37/lgx.jpg" alt="《锣鼓巷》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=37" target="_blank">《锣鼓巷》</a><br>
                        <a href="albumindex.asp?id=37" target="_blank">共12张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=38" target="_blank"><img src="../pic/album/38/nddysm.jpg" alt="《你到底要什么》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=38" target="_blank">《你到底要什么》</a><br>
                        <a href="albumindex.asp?id=38" target="_blank">共9张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=117" target="_blank"><img src="../pic/album/117/fengmian.jpg" alt="《独家披露》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=117" target="_blank">《独家披露》</a><br>
                        <a href="albumindex.asp?id=117" target="_blank">共47张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=191" target="_blank"><img src="../pic/album/191/00000001.jpg" alt="《硝烟背后的战争》" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=191" target="_blank">《硝烟背后的战争》</a><br>
                        <a href="albumindex.asp?id=191" target="_blank">共3张</a>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=39" target="_blank"><img src="../pic/album/39/8qlsych.jpg" alt="《野蔷薇、刺玫瑰》第8期<br>星期朗诵演唱会2002年1<br>月北京朗诵艺术团 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=39" target="_blank">《野蔷薇、刺玫瑰》第8期<br>星期朗诵演唱会2002年1<br>月北京朗诵艺术团 </a> <a href="albumindex.asp?id=39" target="_blank">共1张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=40" target="_blank"><img src="../pic/album/40/12qlsych.jpg" alt="《千古华章照汗青》第12<br>期星期朗诵演唱会2002年<br>8月北京朗诵艺术团 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=40" target="_blank">《千古华章照汗青》第12<br>期星期朗诵演唱会2002年<br>8月北京朗诵艺术团  共1张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=41" target="_blank"><img src="../pic/album/41/jnzeldc110zn.jpg" alt="《纪念周恩来同志诞辰110<br>周年》大型史诗音乐会<br>2008年3月 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=41" target="_blank">《纪念周恩来同志诞辰110<br>周年》大型史诗音乐会<br>2008年3月 </a> <a href="albumindex.asp?id=41" target="_blank">共1张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=42" target="_blank"><img src="../pic/album/42/yydsn.jpg" alt="《永远的思念》中国名家<br>名篇诗歌散文朗诵会2008<br>年4月杭州大剧院 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=42" target="_blank">《永远的思念》中国名家<br>名篇诗歌散文朗诵会2008<br>年4月杭州大剧院 </a> <a href="albumindex.asp?id=42" target="_blank">共2张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=43" target="_blank"><img src="../pic/album/43/dyryakzyc.jpg" alt="电影人迎奥运抗震救灾<br>演出 2008年5月<br>中央电视台 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=43" target="_blank">电影人迎奥运抗震救灾<br>演出 2008年5月<br>中央电视台 </a> <a href="albumindex.asp?id=43" target="_blank">共2张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=71" target="_blank"><img src="../pic/album/71/gxwszzjm.jpg" alt="汶川地震赈灾特别节目<br>2008年6月 广西卫视<br>" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=71" target="_blank">汶川地震赈灾特别节目<br>2008年6月 广西卫视<br></a> <a href="albumindex.asp?id=71" target="_blank">共1张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=45" target="_blank"><img src="../pic/album/45/2009jzlysgj.jpg" alt="《焦作旅游诗歌节》诗歌<br>朗诵音乐会 2008年9月<br>河南焦作 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=45" target="_blank">《焦作旅游诗歌节》诗歌<br>朗诵音乐会 2008年9月<br>河南焦作 </a> <a href="albumindex.asp?id=45" target="_blank">共2张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=46" target="_blank"><img src="../pic/album/46/IX2I7641aaa.jpg" alt="《历史的天空》中华古今诗<br>词名篇朗诵演唱会2008年10<br>月北京梅兰芳大剧院 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=46" target="_blank">《历史的天空》中华古今诗<br>词名篇朗诵演唱会2008年10<br>月北京梅兰芳大剧院  共7张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=47" target="_blank"><img src="../pic/album/47/IMG_2779.jpg" alt="《追梦的中国》纪念中国<br>改革开放三十周年诗歌朗<br>诵演唱会2008年12月" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=47" target="_blank">《追梦的中国》纪念中国<br>改革开放三十周年诗歌朗<br>诵演唱会2008年12月 共1张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=73" target="_blank"><img src="../pic/album/73/2009cjsh.jpg" alt="《2009春节诗会》<br>2008年12月中央电视台<br>" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=73" target="_blank">《2009春节诗会》<br>2008年12月中央电视台<br></a> <a href="albumindex.asp?id=73" target="_blank">共2张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=48" target="_blank"><img src="../pic/album/48/jsrcdj.jpg" alt="《江山如此多娇》中华<br>古今诗词名篇朗诵演唱会<br>2009年1月北京音乐厅 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=48" target="_blank">《江山如此多娇》中华<br>古今诗词名篇朗诵演唱会<br>2009年1月北京音乐厅 </a> <a href="albumindex.asp?id=48" target="_blank">共3张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=50" target="_blank"><img src="../pic/album/50/ltjdpwsx.jpg" alt="《聆听经典 品味书香》<br>朗诵会 2009年4月<br>东城区图书馆" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=50" target="_blank">《聆听经典 品味书香》<br>朗诵会 2009年4月<br>东城区图书馆</a> <a href="albumindex.asp?id=50" target="_blank">共2张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=51" target="_blank"><img src="../pic/album/51/jsrcdjhsjd.jpg" alt="《江山如此多娇》红色<br>经典朗诵演唱会2009年<br>5月天津中华剧院 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=51" target="_blank">《江山如此多娇》红色<br>经典朗诵演唱会2009年<br>5月天津中华剧院 </a> <a href="albumindex.asp?id=51" target="_blank">共4张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=52" target="_blank"><img src="../pic/album/52/mj512.jpg" alt="《铭记5.12 这里是四川<br>这里是中国》大型<br>配乐诗歌朗诵会" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=52" target="_blank">《铭记5.12 这里是四川<br>这里是中国》大型<br>配乐诗歌朗诵会</a> <a href="albumindex.asp?id=52" target="_blank">共6张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=75" target="_blank"><img src="../pic/album/75/1263738184359.jpg" alt="《2009端午诗会》<br>2009年5月 中央电视台<br>" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=75" target="_blank">《2009端午诗会》<br>2009年5月 中央电视台<br></a> <a href="albumindex.asp?id=75" target="_blank">共8张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=54" target="_blank"><img src="../pic/album/54/IMG_3887b.jpg" alt="《九歌神韵》2009年迎国庆<br>贺端午名家金曲朗诵演唱会<br>北京梅兰芳大剧院 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=54" target="_blank">《九歌神韵》2009年迎国庆<br>贺端午名家金曲朗诵演唱会<br>北京梅兰芳大剧院  共2张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=77" target="_blank"><img src="../pic/album/77/1263738540578.jpg" alt="《女人香》做客《明星<br>面对面》 2009年6月<br>山东电视台 " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=77" target="_blank">《女人香》做客《明星<br>面对面》 2009年6月<br>山东电视台 </a> <a href="albumindex.asp?id=77" target="_blank">共16张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=56" target="_blank"><img src="../pic/album/56/2009lhdydy.jpg" alt="《李行导演电影》台湾<br>演员见面会 2009年6月<br>中国电影资料馆 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=56" target="_blank">《李行导演电影》台湾<br>演员见面会 2009年6月<br>中国电影资料馆  共4张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=57" target="_blank"><img src="../pic/album/57/2009qqylsych.jpg" alt="《红色经典之夜》庆七一<br>大型朗诵演唱会2009年7月<br>北京中山音乐堂  " width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=57" target="_blank">《红色经典之夜》庆七一<br>大型朗诵演唱会2009年7月<br>北京中山音乐堂  </a> <a href="albumindex.asp?id=57" target="_blank">共6张</a></span>
                    </p>
                </td>

            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=58" target="_blank"><img src="../pic/album/58/2a.jpg" alt="《我和我的祖国》<br>朗诵音乐会 2009年8月<br>总政军乐团礼堂 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=58" target="_blank">《我和我的祖国》<br>朗诵音乐会 2009年8月<br>总政军乐团礼堂  共2张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=79" target="_blank"><img src="../pic/album/79/hnqz60zngq.jpg" alt="《祖国礼赞》文艺晚会<br>2009年9月 河南电视台<br>" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=79" target="_blank">《祖国礼赞》文艺晚会<br>2009年9月 河南电视台<br></a> <a href="albumindex.asp?id=79" target="_blank">共3张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=60" target="_blank"><img src="../pic/album/60/259.jpg" alt="《爱科学 爱祖国—献给<br>国家最高科技奖获得者的<br>颂歌》诗歌朗诵会" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=60" target="_blank">《爱科学 爱祖国—献给<br>国家最高科技奖获得者的<br>颂歌》诗歌朗诵会 共3张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=61" target="_blank"><img src="../pic/album/61/zhssdwh.jpg" alt="《中华诵》首都大学生<br>庆祝新中国成立60周年<br>诵读晚会2009年9月" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=61" target="_blank">《中华诵》首都大学生<br>庆祝新中国成立60周年<br>诵读晚会2009年9月</a> <a href="albumindex.asp?id=61" target="_blank">共2张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=62" target="_blank"><img src="../pic/album/62/2009zqsh.jpg" alt="《2009中秋诗会》<br>2009年9月 中央电视台<br>" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=62" target="_blank">《2009中秋诗会》<br>2009年9月 中央电视台<br></a> <a href="albumindex.asp?id=62" target="_blank">共2张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=63" target="_blank"><img src="../pic/album/63/IMG_7515.jpg" alt="《锣鼓巷》做客《神州<br>音话》 2009年12月<br>北京电视台 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=63" target="_blank">《锣鼓巷》做客《神州<br>音话》 2009年12月<br>北京电视台  共8张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=64" target="_blank"><img src="../pic/album/64/hrlgx.jpg" alt="录制《锣鼓巷》宣传词<br>2009年12月 北京<br>" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=64" target="_blank">录制《锣鼓巷》宣传词<br>2009年12月 北京<br></a> <a href="albumindex.asp?id=64" target="_blank">共9张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=65" target="_blank"><img src="../pic/album/65/IMG_8761a.jpg" alt="《锣鼓巷》新闻发布会<br>2010年1月 北京<br> " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=65" target="_blank">《锣鼓巷》新闻发布会<br>2010年1月 北京<br>  共10张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=66" target="_blank"><img src="../pic/album/66/hbtvysbd.jpg" alt="《锣鼓巷》做客《影视<br>宝典》 2010年1月<br>河北电视台 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=66" target="_blank">《锣鼓巷》做客《影视<br>宝典》 2010年1月<br>河北电视台  共38张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=81" target="_blank"><img src="../pic/album/81/999.jpg" alt="《青溜溜的青海》<br>2010迎春诗会<br>青海电视台 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=81" target="_blank">《青溜溜的青海》<br>2010迎春诗会<br>青海电视台  共4张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=83" target="_blank"><img src="../pic/album/83/1264693043617.jpg" alt="《2010春节诗会》<br>2010年1月中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=83" target="_blank">《2010春节诗会》<br>2010年1月中央电视台<br> 共3张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=85" target="_blank"><img src="../pic/album/85/IMG_9977.jpg" alt="《欢乐中国年》2010<br>大型新春文艺晚会<br>北京地址礼堂  " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=85" target="_blank">《欢乐中国年》2010<br>大型新春文艺晚会<br>北京地址礼堂   共12张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=89" target="_blank"><img src="../pic/album/89/20103263527508a.jpg" alt="《艾青百年诞辰纪念》<br>诗歌朗诵会 2010年3月<br>中国作家协会 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=89" target="_blank">《艾青百年诞辰纪念》<br>诗歌朗诵会 2010年3月<br>中国作家协会  共37张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=91" target="_blank"><img src="../pic/album/91/IMG_0887.jpg" alt="《中华魂》诗歌朗诵会<br>2010年3月<br>北京育才学校 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=91" target="_blank">《中华魂》诗歌朗诵会<br>2010年3月<br>北京育才学校  共13张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=95" target="_blank"><img src="../pic/album/95/IMG_2235.jpg" alt="《美国世界艺术家协会<br>第3届中国艺术家颁奖典<br>礼》2010年4月 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=95" target="_blank">《美国世界艺术家协会<br>第3届中国艺术家颁奖典<br>礼》2010年4月  共51张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=97" target="_blank"><img src="../pic/album/97/201052121756256.jpg" alt="《家有爹娘-2》<br>媒体见面会 2010年5月<br>北京 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=97" target="_blank">《家有爹娘-2》<br>媒体见面会 2010年5月<br>北京  共46张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=99" target="_blank"><img src="../pic/album/99/1275383780261.jpg" alt="《家有爹娘-2》做客<br>《影视俱乐部》2010年5月<br>中央电视台  " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=99" target="_blank">《家有爹娘-2》做客<br>《影视俱乐部》2010年5月<br>中央电视台   共40张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=101" target="_blank"><img src="../pic/album/101/28.jpg" alt="《新靖江八景》朗诵<br>演唱会 2010年5月<br>江苏靖江  " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=101" target="_blank">《新靖江八景》朗诵<br>演唱会 2010年5月<br>江苏靖江   共65张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=103" target="_blank"><img src="../pic/album/103/11.jpg" alt="《2010端午诗会》<br>2010年5月 中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=103" target="_blank">《2010端午诗会》<br>2010年5月 中央电视台<br> 共3张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=107" target="_blank"><img src="../pic/album/107/3.jpg" alt="《千秋不改炎黄韵》<br>2010端午经典诗文朗诵会<br>东城区图书馆 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=107" target="_blank">《千秋不改炎黄韵》<br>2010端午经典诗文朗诵会<br>东城区图书馆  共32张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=105" target="_blank"><img src="../pic/album/105/23.jpg" alt="《2010端午经典诗歌》朗诵<br>演唱会 2010年6月<br>北京崇文红剧场 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=105" target="_blank">《2010端午经典诗歌》朗诵<br>演唱会 2010年6月<br>北京崇文红剧场  共37张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=109" target="_blank"><img src="../pic/album/109/1300639507483.jpg" alt="《中华魂》第二届海淀<br>端午诗会 2010年6月<br>北京圆明园 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=109" target="_blank">《中华魂》第二届海淀<br>端午诗会 2010年6月<br>北京圆明园  共10张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=113" target="_blank"><img src="../pic/album/113/1301434600072.jpg" alt="《我骄傲，我是园区人》<br>诗歌朗诵会 2010年6月<br>中共海淀区委 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=113" target="_blank">《我骄傲，我是园区人》<br>诗歌朗诵会 2010年6月<br>中共海淀区委  共24张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=111" target="_blank"><img src="../pic/album/111/201062822529839.jpg" alt="《唱支山歌给党听》经典<br>诗文朗诵会 2010年6月<br>东城区图书馆  " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=111" target="_blank">《唱支山歌给党听》经典<br>诗文朗诵会 2010年6月<br>东城区图书馆   共18张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=115" target="_blank"><img src="../pic/album/115/IMG_9257a.jpg" alt="《同根同脉》大型<br>文艺晚会 2010年7月<br>安徽大剧院  " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=115" target="_blank">《同根同脉》大型<br>文艺晚会 2010年7月<br>安徽大剧院   共38张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=125" target="_blank"><img src="../pic/album/125/IMG_0433.jpg" alt="《中华诵》经典作品<br>朗诵会 2010年11月<br>北京师范大学 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=125" target="_blank">《中华诵》经典作品<br>朗诵会 2010年11月<br>北京师范大学  共6张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=127" target="_blank"><img src="../pic/album/127/IMG_2261a.jpg" alt="《祖国之恋》诗歌朗诵会<br>2010年11月<br>郑州大学等 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=127" target="_blank">《祖国之恋》诗歌朗诵会<br>2010年11月<br>郑州大学等  共23张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=129" target="_blank"><img src="../pic/album/129/IMG_4455.jpg" alt="《语文精品名篇》朗诵会<br>2010年12月 北京石油<br>学院附属中学 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=129" target="_blank">《语文精品名篇》朗诵会<br>2010年12月 北京石油<br>学院附属中学  共3张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=131" target="_blank"><img src="../pic/album/131/3.jpg" alt="《崔墨卿诗歌作品》<br>朗诵会 2011年1月<br>北京海淀剧院 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=131" target="_blank">《崔墨卿诗歌作品》<br>朗诵会 2011年1月<br>北京海淀剧院  共7张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=133" target="_blank"><img src="../pic/album/133/IMG_6601.jpg" alt="《第六届全国青少年艺术<br>教育精品展演》开幕式<br>2011年2月 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=133" target="_blank">《第六届全国青少年艺术<br>教育精品展演》开幕式<br>2011年2月  共9张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=123" target="_blank"><img src="../pic/album/123/9.jpg" alt="《2011清明诗会》<br>2011年3月 中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=123" target="_blank">《2011清明诗会》<br>2011年3月 中央电视台<br> 共6张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=121" target="_blank"><img src="../pic/album/121/IMG_8516.jpg" alt="《锣鼓巷》做客《腾讯<br>娱乐名人坊》2011年3月<br>腾讯网 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=121" target="_blank">《锣鼓巷》做客《腾讯<br>娱乐名人坊》2011年3月<br>腾讯网  共16张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=135" target="_blank"><img src="../pic/album/135/1IMG_9003.jpg" alt="《清明赋 家国情》第四届<br>北京清明诗会 2011年3月<br>北京电视台 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=135" target="_blank">《清明赋 家国情》第四届<br>北京清明诗会 2011年3月<br>北京电视台  共10张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=137" target="_blank"><img src="../pic/album/137/IMG_9316.jpg" alt="《2011皇城文化国际旅游<br>节》开幕式 2011年4月<br>北京天坛" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=137" target="_blank">《2011皇城文化国际旅游<br>节》开幕式 2011年4月<br>北京天坛 共16张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=139" target="_blank"><img src="../pic/album/139/1342234874621.jpg" alt="《首届全国中老年书画<br>大赛》颁奖盛典2011年4月<br>湖南张家界 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=139" target="_blank">《首届全国中老年书画<br>大赛》颁奖盛典2011年4月<br>湖南张家界  共59张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=141" target="_blank"><img src="../pic/album/141/47.jpg" alt="《世界读书日》经典诗文<br>朗诵会 2011年4月<br>东城区图书馆 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=141" target="_blank">《世界读书日》经典诗文<br>朗诵会 2011年4月<br>东城区图书馆  共33张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=143" target="_blank"><img src="../pic/album/143/IMG_0573.jpg" alt="《民族团结日》<br>2011年5月 北京<br>地坛体育馆 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=143" target="_blank">《民族团结日》<br>2011年5月 北京<br>地坛体育馆  共29张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=145" target="_blank"><img src="../pic/album/145/fmIMG_1062.jpg" alt="《红色经典》朗诵会<br>2011年5月 北京农业<br>大学附属中学 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=145" target="_blank">《红色经典》朗诵会<br>2011年5月 北京农业<br>大学附属中学  共11张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=147" target="_blank"><img src="../pic/album/147/IMG_2885.jpg" alt="《红色经典》朗诵会<br>2011年5月 中国青年<br>政治学院 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=147" target="_blank">《红色经典》朗诵会<br>2011年5月 中国青年<br>政治学院  共30张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=149" target="_blank"><img src="../pic/album/149/52IMG_3234.jpg" alt="《携手共创文明区》<br>诗歌朗诵会 2011年5月<br>北京朝阳剧场  " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=149" target="_blank">《携手共创文明区》<br>诗歌朗诵会 2011年5月<br>北京朝阳剧场   共32张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=151" target="_blank"><img src="../pic/album/151/1342724831529.jpg" alt="《聆听经典 品味书香》<br>诗歌朗诵会 2011年5月<br>昌平区图书馆 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=151" target="_blank">《聆听经典 品味书香》<br>诗歌朗诵会 2011年5月<br>昌平区图书馆  共20张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=153" target="_blank"><img src="../pic/album/153/IMG_1374.jpg" alt="《语文精品名篇》朗诵会<br>2011年5月 北京市<br>第十九中学 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=153" target="_blank">《语文精品名篇》朗诵会<br>2011年5月 北京市<br>第十九中学  共18张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=155" target="_blank"><img src="../pic/album/155/IMG_0583.jpg" alt="《向经典——鲁十五诗<br>歌之夜》朗诵会2011年<br>5月鲁迅文学院 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=155" target="_blank">《向经典——鲁十五诗<br>歌之夜》朗诵会2011年<br>5月鲁迅文学院  共58张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=157" target="_blank"><img src="../pic/album/157/1IMG_7616.jpg" alt="第三届海淀端午诗会<br>2011年6月<br>北京圆明园 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=157" target="_blank">第三届海淀端午诗会<br>2011年6月<br>北京圆明园  共16张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=159" target="_blank"><img src="../pic/album/159/IMG_9038.jpg" alt="《永远的旗帜》中国共产党<br>成立90周年红歌汇演2011<br>年6月 大兴剧院 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=159" target="_blank">《永远的旗帜》中国共产党<br>成立90周年红歌汇演2011<br>年6月 大兴剧院  共10张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=161" target="_blank"><img src="../pic/album/161/IMG_9152.jpg" alt="全国青少年《永远跟党走》<br>北京青春歌会 2011年6月<br>华北电力大学 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=161" target="_blank">全国青少年《永远跟党走》<br>北京青春歌会 2011年6月<br>华北电力大学  共13张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=163" target="_blank"><img src="../pic/album/163/1IMG_9371.jpg" alt="话剧《共产党宣言》<br>2011年7月 广州军区礼堂<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=163" target="_blank">话剧《共产党宣言》<br>2011年7月 广州军区礼堂<br> 共133张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=165" target="_blank"><img src="../pic/album/165/6IMG_0112.jpg" alt="《中国之翼》200期答谢会<br>2011年7月 北京国航<br>万丽酒店" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=165" target="_blank">《中国之翼》200期答谢会<br>2011年7月 北京国航<br>万丽酒店 共11张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=167" target="_blank"><img src="../pic/album/167/12IMG_0889.jpg" alt="《2011中秋诗会》<br>2011年8月 中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=167" target="_blank">《2011中秋诗会》<br>2011年8月 中央电视台<br> 共44张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=171" target="_blank"><img src="../pic/album/171/IMG_3094.jpg" alt="《农民工之歌》诗歌<br>朗诵会 2011年9月<br>人民大会堂" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=171" target="_blank">《农民工之歌》诗歌<br>朗诵会 2011年9月<br>人民大会堂 共24张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=169" target="_blank"><img src="../pic/album/169/1IMG_4364.jpg" alt="《马役军诗文朗诵会》<br>2011年9月 东城区图书馆<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=169" target="_blank">《马役军诗文朗诵会》<br>2011年9月 东城区图书馆<br> 共39张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=173" target="_blank"><img src="../pic/album/173/IMG_5271.jpg" alt="“殷之光杯”第七届朗诵<br>艺术大赛 2011年10月<br>西城区文化馆" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=173" target="_blank">“殷之光杯”第七届朗诵<br>艺术大赛 2011年10月<br>西城区文化馆 共10张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=179" target="_blank"><img src="../pic/album/179/1IMG_5979.jpg" alt="《我心中的祖国》高占祥<br>诗歌朗诵会 2011年11月<br>河北传媒学院" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=179" target="_blank">《我心中的祖国》高占祥<br>诗歌朗诵会 2011年11月<br>河北传媒学院 共13张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=181" target="_blank"><img src="../pic/album/181/IMG_6243.jpg" alt="第三届新农村电视艺术节<br>颁奖晚会 2011年11月<br>中国农业影视中心" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=181" target="_blank">第三届新农村电视艺术节<br>颁奖晚会 2011年11月<br>中国农业影视中心 共41张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=183" target="_blank"><img src="../pic/album/183/IMG_9464.jpg" alt="《盛世欢歌》全国中老年<br>文艺汇演 2011年11月<br>国图音乐厅" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=183" target="_blank">《盛世欢歌》全国中老年<br>文艺汇演 2011年11月<br>国图音乐厅 共21张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=185" target="_blank"><img src="../pic/album/185/IMG_0683.jpg" alt="《参考消息》创办80周年<br>答谢晚宴 2011年12月<br>北京柏悦酒店" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=185" target="_blank">《参考消息》创办80周年<br>答谢晚宴 2011年12月<br>北京柏悦酒店 共28张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=193" target="_blank"><img src="../pic/album/193/201213022159147.jpg" alt="《人在重庆》座谈会<br>2012年1月 重庆<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=193" target="_blank">《人在重庆》座谈会<br>2012年1月 重庆<br> 共1张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=187" target="_blank"><img src="../pic/album/187/IMG_2129.jpg" alt="《献给天空和大地的诗篇》<br>2012迎春新诗会 2012年1月<br>青海广播电视台" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=187" target="_blank">《献给天空和大地的诗篇》<br>2012迎春新诗会 2012年1月<br>青海广播电视台 共27张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=189" target="_blank"><img src="../pic/album/189/IMG_3794.jpg" alt="《第七届全国青少年艺<br>术教育精品展演活动》<br>2012年1月" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=189" target="_blank">《第七届全国青少年艺<br>术教育精品展演活动》<br>2012年1月 共14张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=195" target="_blank"><img src="../pic/album/195/IMG_6467.jpg" alt="《2012清明诗会》<br>2012年3月 中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=195" target="_blank">《2012清明诗会》<br>2012年3月 中央电视台<br> 共57张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=199" target="_blank"><img src="../pic/album/199/IMG_7467.jpg" alt="“醉美琼中”主题晚会<br>2012年3月 海南琼中<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=199" target="_blank">“醉美琼中”主题晚会<br>2012年3月 海南琼中<br> 共32张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=201" target="_blank"><img src="../pic/album/201/IMG_9968.jpg" alt="第三届“中国影协杯”<br>优秀电影剧本表彰典礼<br>2012年4月 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=201" target="_blank">第三届“中国影协杯”<br>优秀电影剧本表彰典礼<br>2012年4月  共22张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=197" target="_blank"><img src="../pic/album/197/IMG_1063b.jpg" alt="《2012丁香诗会》<br>2012年4月 北京法源寺<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=197" target="_blank">《2012丁香诗会》<br>2012年4月 北京法源寺<br> 共66张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=203" target="_blank"><img src="../pic/album/203/IMG_3205.jpg" alt="海淀区第二十届职工艺术<br>节开幕式 2012年4月<br>海淀工人文化宫 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=203" target="_blank">海淀区第二十届职工艺术<br>节开幕式 2012年4月<br>海淀工人文化宫  共20张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=207" target="_blank"><img src="../pic/album/207/IMG_3831.jpg" alt="《科学与诗在这里相遇》<br>主题晚会 2012年4月<br>清华大学 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=207" target="_blank">《科学与诗在这里相遇》<br>主题晚会 2012年4月<br>清华大学  共12张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=205" target="_blank"><img src="../pic/album/205/1IMG_4298.jpg" alt="民族艺术进校园<br>2012年4月<br>北京蒲黄榆一小 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=205" target="_blank">民族艺术进校园<br>2012年4月<br>北京蒲黄榆一小  共15张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=209" target="_blank"><img src="../pic/album/209/IMG_9232.jpg" alt="话剧《寻找剧作家》<br>2012年5月 北京逸夫剧场<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=209" target="_blank">话剧《寻找剧作家》<br>2012年5月 北京逸夫剧场<br> 共98张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=211" target="_blank"><img src="../pic/album/211/IMG_2388.jpg" alt="《2012端午诗会》<br>2012年5月 中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=211" target="_blank">《2012端午诗会》<br>2012年5月 中央电视台<br> 共43张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=213" target="_blank"><img src="../pic/album/213/1342723569662.jpg" alt="《百年高棠》纪念荣高棠<br>百年诞辰晚会 2012年5月<br>河北霸州" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=213" target="_blank">《百年高棠》纪念荣高棠<br>百年诞辰晚会 2012年5月<br>河北霸州 共12张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=215" target="_blank"><img src="../pic/album/215/IMG_8980.jpg" alt="《聆听经典 品味书香》<br>朗诵会 2012年5月<br>北京和平里四小 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=215" target="_blank">《聆听经典 品味书香》<br>朗诵会 2012年5月<br>北京和平里四小  共16张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=217" target="_blank"><img src="../pic/album/217/IMG_9470.jpg" alt="《乘着智慧的翅膀》<br>朗诵会 2012年6月<br>北京朗诵剧场" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=217" target="_blank">《乘着智慧的翅膀》<br>朗诵会 2012年6月<br>北京朗诵剧场 共13张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=219" target="_blank"><img src="../pic/album/219/IMG_0409.jpg" alt="“海之韵 端午情”<br>端午诗会 2012年6月<br>北京圆明园" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=219" target="_blank">“海之韵 端午情”<br>端午诗会 2012年6月<br>北京圆明园 共9张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=221" target="_blank"><img src="../pic/album/221/IMG_2834.jpg" alt="《东城区廉政文化建设》<br>诗歌朗诵会 20102年6月<br>北京国子监 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=221" target="_blank">《东城区廉政文化建设》<br>诗歌朗诵会 20102年6月<br>北京国子监  共14张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=223" target="_blank"><img src="../pic/album/223/IMG_9454.jpg" alt="《八一电影制片厂成立<br>60周年》庆典晚会<br>2012年7月 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=223" target="_blank">《八一电影制片厂成立<br>60周年》庆典晚会<br>2012年7月  共11张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=225" target="_blank"><img src="../pic/album/225/IMG_9258.jpg" alt="《百年乔木》诗歌朗诵<br>音乐会 2012年7月<br>全国政协礼堂 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=225" target="_blank">《百年乔木》诗歌朗诵<br>音乐会 2012年7月<br>全国政协礼堂  共10张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=227" target="_blank"><img src="../pic/album/227/1343070035565.jpg" alt="“盛世欢歌”文化部第二届<br>中老年文艺汇演 2012年7月<br>北京梅地亚中心 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=227" target="_blank">“盛世欢歌”文化部第二届<br>中老年文艺汇演 2012年7月<br>北京梅地亚中心  共17张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=229" target="_blank"><img src="../pic/album/229/88BO5Q0561.jpg" alt="第四届新农村电视艺术节<br>颁奖晚会 2012年8月<br>中国农业影视中心 " width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=229" target="_blank">第四届新农村电视艺术节<br>颁奖晚会 2012年8月<br>中国农业影视中心  共35张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=231" target="_blank"><img src="../pic/album/231/IMG_0951.jpg" alt="朗读剧《塞纳河少女<br>的面模》 2012年9月<br>北京蓬蒿剧场" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=231" target="_blank">朗读剧《塞纳河少女<br>的面模》 2012年9月<br>北京蓬蒿剧场 共117张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=233" target="_blank"><img src="../pic/album/233/BO5Q4147.jpg" alt="《2012中秋诗会》<br>2012年9月 中央电视台<br>" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=233" target="_blank">《2012中秋诗会》<br>2012年9月 中央电视台<br> 共48张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=235" target="_blank"><img src="../pic/album/235/IMG_4474.jpg" alt="朗读剧《恐惧》<br>2012年12月<br>北京蓬蒿剧场" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=235" target="_blank">朗读剧《恐惧》<br>2012年12月<br>北京蓬蒿剧场 共116张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=237" target="_blank"><img src="../pic/album/237/a.jpg" alt="话剧《怀疑》<br>2014年7月<br>北京东宫影剧院" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=237" target="_blank">话剧《怀疑》<br>2014年7月<br>北京东宫影剧院 共409张</a></span>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=239" target="_blank"><img src="../pic/album/239/IMG_7061a.jpg" alt="《聆响·行歌》校园里的<br>回声朗诵音乐会 2015年8月<br>中山公园音乐堂" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=239" target="_blank">《聆响·行歌》校园里的<br>回声朗诵音乐会 2015年8月<br>中山公园音乐堂 共110张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <br><a href="albumindex.asp?id=241" target="_blank"><img src="../pic/album/241/IMG_7937a.jpg" alt="《聆响·行歌》校园里的<br>回声朗诵音乐会 2015年8月<br>武汉琴台音乐厅" width="100" height="64" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=241" target="_blank">《聆响·行歌》校园里的<br>回声朗诵音乐会 2015年8月<br>武汉琴台音乐厅 共103张</a></span>
                    </p>
                </td>

                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" valign="top" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center"><br><a href="albumindex.asp?id=67" target="_blank"><img src="../pic/album/67/20093722347411.jpg" alt="生活照" width="100" height="64" border="0"></a></p>
                    <p align="center" class="style3">
                        <a href="albumindex.asp?id=67" target="_blank">生活照</a><br>
                        <a href="albumindex.asp?id=67" target="_blank">共73张</a>
                    </p>
                </td>
            </tr>
            <tr><td height="20" colspan="5" valign="top">&nbsp;</td></tr>
            <tr>
                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=68" target="_blank"><img src="../pic/album/68/print.jpg" alt="挂历、杂志等" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=68" target="_blank">挂历、杂志等</a><br><a href="albumindex.asp?id=68" target="_blank">共240张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

                <td width="150" height="140" style="background:url(../pic/ablum/beijing.gif) 0 0 no-repeat;">
                    <p align="center">
                        <a href="albumindex.asp?id=69" target="_blank"><img src="../pic/album/69/1354413200671.jpg" alt="朱琳摄影作品" width="64" height="85" border="0"></a><br>
                        <span class="style3v"><a href="albumindex.asp?id=69" target="_blank">朱琳摄影作品</a><br><a href="albumindex.asp?id=69" target="_blank">共24张</a></span>
                    </p>
                </td>


                <td width="15" valign="top">&nbsp;</td>

            </tr>
            <tr>
                <td height="20" colspan="5" valign="top">&nbsp;</td>
            </tr>

        </tbody>
    </table>
</div>


