@{
    Layout = "~/Views/shared/_RECPLayout.cshtml";
}
<style>
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    .style1 {
        /*font-size: x-small;
        color: #000;*/
    }

    .style4 {
        color: #009933;
    }

    A:visited {
        COLOR: #000000;
        TEXT-DECORATION: none;
    }

    A:link {
        COLOR: #000000;
        TEXT-DECORATION: none;
    }

    a:-webkit-any-link {
        color: -webkit-link;
        cursor: auto;
    }
</style>

<div class="panel-heading">关于我们</div>
<div class="panel-body" style="min-height: 50%;height: 90%;overflow: auto;font-family:'FontAwesome'">
    <p>
        <font size="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><span class="style1">
            <font color="#000000">谁能说人间一切的擦肩而过不是缘分的交错？我们在生命中行走，看不同的风景，遭遇不同的陌生人。有些人只是遇见，匆匆的行程里眼光的一次对视。不需要言语，忽略情节。有些人会在心上驻留，带给彼此温暖。那是最美的一种际遇，留待余生去不断重复地想起。缘分的人生是精彩的，种种生活的喜怒哀乐，都是一出出曲折绝伦的戏剧，都是缘分的错综演绎，常常有什么东西在不自觉的触动我内心的感动。我们共享的一片林子，是无数个不经意的蓦然回首中，不同的我们吟唱着那一首共同的友谊地久天长的歌，你我相识的缘分，是上帝恩赐给我们的一个灿烂微笑，我们相识在温馨的问候里，在缘分的天空下，那里面有你，有我，也有她，与大家相识的缘分是一份永不老去的记忆，即使是生命中一些你想忘记的回忆，然而这种回忆，就像无心散落在水面的花瓣，幽幽地飘浮在水面，在有意无意之间留落些微微的香味，提醒它在你生命里出现过的曾经。缘分的友情是动人的，是千古流传、倾情演奏、扣人心弦的一部部乐章，你我相识的缘分就像一首诗，淡淡地一句问候，默默的一个眼神，都会激起我内心的感动，即使匆匆的邂逅，像不起眼的流星在天空中划过的一道微弱的弧光，你的一低头的温柔、一投足的潇洒，一脸深思的落寞，都会在我生命里璀璨地燃烧，荡起心中盎然的诗意，在缘分的眷顾下，我们的生活总能泛起涟漪，总能勾起我们无尽的幻想，我们无法抗拒缘分的光临。</font>
        </span>
    </p>
    <p class="style1">
        <font color="#006666"><font color="#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.zhulin.net">&nbsp;"</a></font></font><a href="http://www.zhulin.net"><span class="style4">琳中漫步－朱琳影迷会</span></a><font color="#006666">
            <font color="#000000">
                <a href="http://www.zhulin.net">"</a>是成立最早的一个由朱琳影迷完全自己建立的网站。
                网站取名"琳中漫步"，整体以淡绿色调为主，追求简洁、明朗、大气的风格，希望能与朱琳老师"心素如简、人淡如菊"的品格相得益彰。网站创立的动机是对表演艺术家朱琳老师的支持和喜爱，唯一的宗旨是为所有的朱琳影迷提供一个网上的共享家园。
            </font>
        </font>
    </p>
    <p class="style1">
        <font color="#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2003年10月7日，Jessica偶然相识网名为天堂鸟（原名Sylvia）的同是喜爱朱琳老师的女孩子。在从那个日子开始的她们共同经历整整十个月的时间里，两人共同制作了一个完整的网站。但两人由于工作和学习上的事情，网站的制作工作只能断断续续的进行。直至2004年7月25日，两人正式注册了<a href="http://www.zhulin.net">www.zhulin.net</a>的域名和空间，并全面展开了网站制作的最后冲刺工作。7月26日，网站确立沿用"琳中漫步"的名字，并且有了一个比较专业的整体外观。7月27日，域名正式开通。7月30日，“琳中漫步”最初的版面成功完成。两人也在每天高度紧张的工作中不知不觉成了知己。2004年8月16日，"琳中漫步－朱琳影迷会"网站正式开通运行。由于能力有限，大家看到的这个网站的第一版也许没有其他明星的网站华丽、复杂，但这确确实实是我们用心来完成的。</font><br>
    </p>
    <p class="style1">
        <font color="#000000">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在今天这个特殊的日子里，我们的林子成功完成了自建立以来的第一次改版。对朱琳老师的喜爱和网站各位影迷的支持是网站发展的最大推动力。网站的建立和发展远非一两个人能力所及。大多数影迷都对网站的改版提出了很多宝贵的意见和建议：天堂鸟、wind给予我们建站技术上的支持；波尔卡姐姐提供了珍贵的图片资料；南瓜、则哲、廖廖利用业余时间搜集新闻；星网"美丽人生－朱琳俱乐部"给本站无私提供了首页连接，并且他们的站务和我们保持着最紧密的联系。论坛的各位总版主，版主很多都曾为网站废寝忘食，默默地奉献了大量的时间和精力。
        </font>
    </p>
    <p class="style1">
        <font color="#000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那么多热情的网友为网站出力，除了无言感激，只有默默地祝福他们。因为我们始终相信，只要我们努力，终有一天它会迎来它的女主人――朱琳老师。愿我们大家和网站一起，走向更美好的明天！ </font>
    </p>
    <p align="right" class="style1">&nbsp;</p>
    <p align="right" class="style1"><font color="#000000">撰稿;cxhym1213&nbsp;&nbsp;编辑整理：Jessica</font></p>
    <p align="right" class="style1"><font color="#000000">2004年12月20日</font></p>
    <p class="style1">&nbsp; </p>
</div>


